* {
    font-family: Mexcellent;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/11_menu/background_v2.png');
    background-position-y: -200px;
}

:root {
    --font-family-inter: "Mexcellent", sans-serif;
}

@font-face {
    font-family: Mexcellent;
    src: url(./fonts/mexcellent/mexcellent\ rg.otf);
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;
}

#canvas {
    background-color: #000;
}

#start-screen {
    width: 720px;
    height: 480px;
    position: relative;
}

.start-screen-bg {
    width: 720px;
    height: 480px;
}

.game-btn {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%);
    margin-right: auto;
    transform: calc(-50%);
    background-image: linear-gradient(to right, #FEDD03 0%, #FEA700 51%, #FEDD03 100%);
    padding: 15px 20px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    cursor: pointer;
}

.game-btn:hover {
    background-position: right center;
}

#end-screen {
    width: 720px;
    height: 480px;
    position: absolute;
}

.end-screen-bg {
    width: 720px;
    height: 480px;
}

#win-screen {
    width: 720px;
    height: 480px;
    position: absolute;
}

.win-screen-bg {
    margin-left: 64px;
    margin-top: 96px;
    width: 600px;
    height: 320px;
}

.menu {
    width: 720px;
    display: flex;
    justify-content: flex-start;
    margin-top: 24px;
}

#speaker-btn {
    width: 48px;
    cursor: pointer;
}