body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    background-color: #000;
}
/* 
.headline {
    font-family: var(--font-family-inter);
}

@font-face {
    font-family: inter;
    src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --font-family-inter: "Inter", sans-serif;
} */